@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body {
    font: 13px/20px 'Poppins', sans-serif;
    font-weight: 400;
    color: #404040;
  }
  
  .login {
    text-align: left;
    position: relative;
    margin: 50px auto;
    width: 40%;
    height: 400px;
    background: white;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
  
  }
 .h-500{
   height: 500px;
 }
  
  .login:before {
    content: '';
    position: absolute;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
  
  .login h1 {
    display: block;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.2;
    text-align: center;
  }
  
  .login p {
    margin: 20px 0 0;
  }
  
  .login p:first-child {
    margin-top: 0;
  }
  
 
  
  .login p.remember_me {
    float: left;
    line-height: 31px;
  }
  
  .login p.remember_me label {
    font-size: 12px;
    color: #777;
    cursor: pointer;
  }
  
  .login p.remember_me input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 55px;
    padding: 0 25px;
  }
  
  
  .login-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
  }
  
  
  
  .login-help a {
  
    color: #cce7fa;
  
    text-decoration: none;
  
  }
  
  
  
  .login-help a:hover {
  
    text-decoration: underline;
  
  }
  
.input100 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: 0 0;
    height: 55px;
    padding: 0 25px;
    outline: none;
    border: none;
}
  
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}
.txt1 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #555;
  line-height: 1.4;
  text-transform: uppercase;
}

.p-b-11 {
  padding-bottom: 11px;
}
.sides{
  padding: 85px;
}
.pt-l-55{
  padding-top: 55px;
}
.submit{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #333;
    border-radius: 27px;
    transition: all .4s;
    border: none;
    outline:none;
}
.pb-l-55{
  padding-top: 55px;
}
.login100{
  background-color: #ebebeb;
  padding-bottom: 70px;
  padding-top: 30px;
}

@media screen and (min-width:320px) and (max-width: 425px) {
  .login {
    width: 100%;
  }
}
@media screen and (min-width:425px) and (max-width: 768px) {
  .login {
    width: 90%;
  }
}